---
import Layout from '../layouts/Layout.astro';
import AmazonProducts from '../components/AmazonProducts.astro';
---

<Layout title="Amazon Whishlist">
	<main class="flex flex-col text-white">
		<a href="..">Go back</a>
		<AmazonProducts></AmazonProducts>
	</main>
</Layout>