---
import Layout from '../layouts/Layout.astro';
import Amazon from '../components/Amazon.astro';
---

<Layout title="Amazon Whishlist">
	<main class="flex flex-col text-white">
		<Amazon></Amazon>
	</main>
</Layout>