---
import Layout from '../layouts/Layout.astro';
import SteamGames from '../components/SteamGames.astro';
import AmazonProducts from '../components/AmazonProducts.astro';
---

<Layout title="Whishlist">
	<AmazonProducts size={3}></AmazonProducts>
	<div class="mt-[2rem]">
		<SteamGames size={3}></SteamGames>
	</div>
</Layout>