---
import Layout from '../layouts/Layout.astro';
import SteamGames from '../components/SteamGames.astro';
import Amazon from '../components/Amazon.astro';
---

<Layout title="Whishlist">
	<main>
		<Amazon size={3}></Amazon>
		<SteamGames size={3}></SteamGames>
	</main>
</Layout>