---
import Layout from '../layouts/Layout.astro';
import Steam from '../components/Steam.astro';
---

<Layout title="Steam Whishlist">
	<main class="flex flex-col text-white">
		<Steam/>
	</main>
</Layout>