---
import Layout from '../layouts/Layout.astro';
import SteamGames from '../components/SteamGames.astro';
---

<Layout title="Steam Whishlist">
	<main class="flex flex-col text-white">
		<a href="..">Go back</a>
		<SteamGames></SteamGames>
	</main>
</Layout>