---
import Product from './Product.astro';

interface Props {
	size?: number
}

const { size } = Astro.props;

const res = await fetch('https://www.amazon.es/registry/wishlist/29REYUQFZ73VG?layout=compact')

const data = await res.text()

var regex = /<li data-id="(.*?)".*?data-price="(.*?)".*?<img.*?src="(.*?)".*?<a.*?title="(.*?)".*?href="(.*?)"/gs;

var matches = Array.from(data.matchAll(regex));

var products = matches.map(match => ({
    'id': match[1],
    'price': match[2],
    'img': match[3],
    'name': match[4],
    'url': "https://www.amazon.es"+match[5],
}));
---
<div id="amazon" transition:name="amazon">
    <h2 class="flex items-center mb-2"><img src="/wishlist/amazon.svg" class="h-[3rem]" /> Amazon</h2>

    <div class={
        "grid gap-[1rem] grid-cols-1 md:grid-cols-3 "
        + (size == undefined ? "xl:grid-cols-4": "")
    }>
    
    {
        products.map( product =>
            <Product 
                name = {product.name} 
                price = {product.price}
                img = {product.img}
                url = {product.url}
            />
        ) 
    }
    </div>

    {
        () => {
            if (size != undefined){
                return <a href="/wishlist/amazon">See all</a>
            }
         }
    }
</div>