---
interface Props {
	size?: number
}

const { size } = Astro.props;

import { type APIsteamWishList } from '../types/APISteamWishList'
import Game from './Game.astro'

const urlInstantGaming = 'https://www.instant-gaming.com/es/busquedas/?igr=josedlsr&type%5B%5D=steam&q='
const urlSteam = 'https://store.steampowered.com/app/'

const res = await fetch('https://store.steampowered.com/wishlist/profiles/76561198208035909/wishlistdata')
const data = await res.json()

const arrayGames: APIsteamWishList[] = Object.keys(data).map(gameId => {return {...data[gameId], gameId}})
.filter(game => {
    let gameShowed = !(game.priority > size!)
    let isfree = !game.is_free_game
    let priceIsNotZero = game.subs[0]?.price > 0

    return gameShowed && isfree && priceIsNotZero
})
.sort(function (a, b){ return a.priority - b.priority })

---

<div id="steam" transition:name="steam">
    <a class="flex items-center mb-2" href="https://store.steampowered.com/wishlist/profiles/76561198208035909" target="_blank"><img src="/wishlist/steam.svg" class="h-[3rem]" /> Steam</a>

    <div class="grid gap-[1rem] grid-cols-1 md:grid-cols-4">
        {
            arrayGames.map( game =>
                <Game 
                    name = {game.name} 
                    discount_block = {game.subs[0].discount_block}
                    img = {game.capsule}
                    score = {game.review_score * 5 / 10}
                    urlSteam = {urlSteam + game.gameId}
                    urlInstantGaming = {urlInstantGaming + game.name}
                />
            ) 
        }

        {
            () => {
                if (size != undefined){
                    return <div class="flex bg-gray-800 text-white border border-gray-700 rounded shadow opacity-50 hover:opacity-100 transition-opacity">
                        <a href="/wishlist/steam" class="p-[5rem]">
                            <svg xmlns="http://www.w3.org/2000/svg" height="auto" width="100%" viewBox="0 0 448 512" id="img"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path opacity="1" fill="currentColor" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
                        </a>
                    </div>
                }
            }
        }
    </div>
</div>