---
import { type APIsteamWishList } from '../types/APISteamWishList'
import Game from './Game.astro'

const urlInstantGaming = 'https://www.instant-gaming.com/es/busquedas/?igr=josedlsr&q='

const urlSteam = 'https://store.steampowered.com/app/'

const res = await fetch('https://store.steampowered.com/wishlist/profiles/76561198208035909/wishlistdata')

const data = await res.json()

const arrayGames: APIsteamWishList[] = Object.keys(data).map(gameId => {
    return {...data[gameId], gameId}})
.filter(game => game.priority > 0 && !game.is_free_game && game.subs[0]?.price > 0)
.sort(function (a, b){ return a.priority - b.priority })

---

<h2>Steam whishlist</h2>

<div class="flex flex-wrap">
{
    arrayGames.map( game =>
        <Game 
            name = {game.name} 
            discount_block = {game.subs[0].discount_block}
            price = {game.subs[0].price / 100}
            img = {game.capsule}
            score = {game.review_score * 5 / 10}
            urlSteam = {urlSteam + game.gameId}
            urlInstantGaming = {urlInstantGaming + game.name}
        />
    ) 
}
</div>